<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
		<meta name="google" content="notranslate" />
		<meta http-equiv="Content-Language" content="en_US" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<!-- social media tags -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@robert_barron">
		<meta name="twitter:title" content="Robert Barron Website">
		<meta name="twitter:description" content="Roberto Barron | Full Stack Web Developer.">
		<meta name="twitter:creator" content="@robert_barron">
		<meta name="twitter:image:src" content="http://www.robertobarron.com/images/rb_lg.png">

		<meta property="og:url" content="http://www.robertobarron.com">
		<meta property="og:title" content="Roberto Barron | Full Stack Web Developer.">
		<meta property="og:image" content="http://www.robertobarron.com/images/image_src.jpg">
		<meta property="og:type" content="website" />
		<meta property="og:description" content="Roberto Barron | Full Stack Web Developer.">

		<!-- Fonts linked from google -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

		<!-- compiled CSS --><% styles.forEach( function ( file ) { %>
		<link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

		<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
		<script type="text/javascript" src="<%= file %>"></script><% }); %>
	</head>
	<body>
		<div id="main" class=""></div>
	</body>
</html>
